@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    // colors
    --white: 0, 0%, 100%;
    --black: 0, 0% 0%;
    --very-dark-gray: 0, 0%, 17%;
    --dark-gray: 0, 0%, 59%;

    ////////////////////
    // text colors /////
    ////////////////////
    --text-fill: var(--very-dark-gray);
    --text-muted: var(--dark-gray);
    --text-inverted: var(--white);

    /////////////////////////////
    // background colors /////////
    /////////////////////////////
    --bg-fill: var(--white);
    --bg-dark: var(--very-dark-gray);

    /////////////////////////////
    // border colors /////////////
    /////////////////////////////
    --border-fill: var(--grayish-blue);
    --border-danger: var(--red);
  }

  //make default form look nice
  // [type="text"],
  // [type="email"] {
  //   @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500;
  // }
}

input.ng-invalid.ng-touched {
  @apply border-2 border-danger;
}

@layer components {
  .container-large {
    max-width: 1440px;
    margin: 0 auto;
  }
}
